.page-header
  %h3
    %i.icon-dashboard
    = "Dashboard"
.row-fluid
  .span4
    %h4
      %i.icon-pencil
      Recent Chart Notes
    = render :partial => 'chart_notes_quick_index'
  .span4
    %h4
      %i.icon-user
      Patients
    = render :partial => 'patients_quick_index'
  .span4
    %h4
      %i.icon-tags
      Recent Tags
    = render :partial => 'tags_quick_index'