- current_user.clients.all.sort_by(&:last).each do |client|
  - unless client.chart.blank?
    %p= link_to client.full_name, client.chart
  - else
    %p= link_to client.full_name, new_chart_path(:client => client)

- if current_user.username == "mikefitzgerald"
  %h1
    %a{:href => '/mike_data.zip'}
      Data Download